#####core#####
# Rewrite URL xxx/yyy/zzz to index.php?ctrl=xxx&action=yyy&id=zzz
RewriteEngine on
RewriteRule ^$ index.php?ctrl=index&action=index
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?ctrl=$1&action=$2&id=$3 [NC,L]
#####!core#####
